In [1]:
# import comet_ml at the top of your file
from comet_ml import Experiment

# Create an experiment with your api key
experiment = Experiment(
    api_key="1AwUmDPCaKw7TZWLKwrSQ2n9z",
    project_name="ae4-unsupervised-notebook",
    workspace="jean-lucvanzyl",
)

COMET WARNING: As you are running in a Jupyter environment, you will need to call `experiment.end()` when finished to ensure all metrics and code are logged before exiting.
COMET INFO: Experiment is live on comet.ml https://www.comet.ml/jean-lucvanzyl/ae4-unsupervised-notebook/079b1fbcb2b8411493a30ca0bf8bbfbc

In [2]:
from surprise import SVD
from surprise import Dataset
from surprise.model_selection import cross_validate
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Install packages here
# Packages for data processing
import numpy as np
import pandas as pd
import datetime
from sklearn import preprocessing
from sklearn.datasets import make_blobs
from sklearn.preprocessing import StandardScaler
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import re
from scipy.sparse import csr_matrix
import scipy as sp


# Packages for visualization
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Packages for modeling
from surprise import Reader
from surprise import Dataset
from surprise import KNNWithMeans
from surprise import KNNBasic
from surprise.model_selection import cross_validate
from surprise.model_selection import GridSearchCV
from surprise import SVD
from surprise import SVDpp
from surprise import NMF
from surprise import SlopeOne
from surprise import CoClustering
import heapq

# Packages for model evaluation
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from time import time

# Package to suppress warnings
import warnings
warnings.filterwarnings("ignore")

# Packages for saving models
import pickle

In [4]:
#Movies dataframe
movies_df = pd.read_csv('movies.csv')

#Genome_scores dataframe
gs_df = pd.read_csv('genome_scores.csv')

#Genome_tags dataframe
gt_df = pd.read_csv('genome_tags.csv')

#imbd dataframe
imdb_df = pd.read_csv('imdb_data.csv')

#links dataframe
links_df = pd.read_csv('links.csv')

#tags dataframe
tags_df = pd.read_csv('tags.csv')

#train dataframe
train_df = pd.read_csv('train.csv')

#test dataframe 
test_df = pd.read_csv('test.csv')

#sample submission
sample_df = pd.read_csv('sample_submission.csv')

In [5]:
from surprise import SVD
from surprise import Dataset
from surprise.model_selection import cross_validate


df = pd.DataFrame(train_df)
del df['timestamp']


# A reader is still needed but only the rating_scale param is requiered.
reader = Reader(rating_scale=(0, 5))

# The columns must correspond to user id, item id and ratings (in that order).
data = Dataset.load_from_df(df[['userId', 'movieId', 'rating']], reader)# The columns must correspond to user id, item id and ratings (in that order).

In [10]:
from surprise import SVD
from surprise import Dataset
from surprise import accuracy
from surprise.model_selection import train_test_split

# sample random trainset and testset
# test set is made of 25% of the ratings.
trainset, testset = train_test_split(data, test_size=.000001, shuffle = False, random_state = 42)

# We'll use the famous SVD algorithm.
algo = SVD()

# Train the algorithm on the trainset, and predict ratings for the testset
algo.fit(trainset)
predictions = algo.test(testset)

# Then compute RMSE
accuracy.rmse(predictions)

RMSE: 0.8224

0.8224046892013978

In [13]:
test_df.loc[:, 'rating'] = 0

In [14]:
test_df.head()

   userId  movieId  rating
0       1     2011       0
1       1     4144       0
2       1     5767       0
3       1     6711       0
4       1     7318       0

In [15]:
test_processed = Dataset.load_from_df(test_df[['userId','movieId','rating']], reader)

In [16]:
NA, test = train_test_split(test_processed, test_size=1.0, shuffle = False, random_state = 42)

In [17]:
predictions = algo.test(test)

In [18]:
est = [i.est for i in predictions]

In [19]:
est

[3.1101551033859867,
 4.30070690069197,
 3.816113083597001,
 4.227606670357417,
 3.1362720705582654,
 3.9140856210604484,
 4.2790387679484425,
 3.6281627737903737,
 3.7452118900079023,
 3.3509064270349795,
 3.542121247927632,
 3.1430372930600963,
 3.859903280049138,
 4.496554406783572,
 3.7398029101028776,
 3.8072789374886082,
 3.6339076960066063,
 2.732103360068935,
 3.5448751213775775,
 3.332865004355619,
 3.9659026235314876,
 3.2624791108511193,
 3.208896931835637,
 3.131387680438112,
 3.619112757419265,
 3.306557433642059,
 3.57961710592333,
 3.1855403662701267,
 3.7053469045976213,
 3.4350339450386724,
 3.9273943016054087,
 3.1663506682165536,
 3.1584714416974946,
 2.928277400045819,
 2.566763354179659,
 3.4616427328552,
 3.483313208304001,
 3.6405704207859952,
 5,
 3.4679425804840656,
 3.8732057063754795,
 3.6173418415846896,
 4.864705240452382,
 3.3984204761326327,
 4.457582959852191,
 3.66005018224722,
 4.202477309161379,
 4.594856485913056,
 4.0139947533429154,
 4.423182571230374,
 4.153973649717219,
 4.4320617454125255,
 4.557379051218307,
 4.274801737234023,
 3.5551692173022986,
 3.5978138474561074,
 3.9814918896049303,
 3.9742639303502707,
 2.9858124520560745,
 4.4412836222852645,
 2.557463448611875,
 3.359056067806021,
 2.876016840537486,
 2.74151571575218,
 3.772885831130953,
 3.9153283363480256,
 3.129686517557731,
 4.110302841934365,
 3.9796927436971967,
 3.4055476005771563,
 4.534884761964322,
 2.8508562627800074,
 3.4762219026727874,
 3.8572605029692038,
 3.935402949312282,
 4.154375220345512,
 3.24015408489394,
 4.482685338592105,
 3.389232971619373,
 3.1159864806359425,
 3.3793816077102874,
 4.1125034813551125,
 3.4593648881584724,
 3.8516423656718524,
 3.3219593303541424,
 2.7298972389941842,
 3.6373030211645996,
 3.3065524062173997,
 3.6407733029964904,
 4.145375802919428,
 3.3899297523323613,
 4.215899413048117,
 3.6984798698164827,
 3.8018968393399124,
 4.250235057343882,
 3.910480895521476,
 3.2438825103317597,
 3.610340008161371,
 3.895776154763738,
 3.7291682008349456,
 2.5595002430479745,
 3.8988060493013,
 3.416645186198104,
 4.105493885568766,
 3.6714906865057775,
 3.605712476025925,
 3.218845602905524,
 3.5268115121480617,
 3.17008545147599,
 3.417488441532765,
 3.5012347109933635,
 2.931813643700696,
 4.119718948515624,
 4.4657487955076425,
 3.958751483610764,
 3.8448952139836186,
 4.183394516674424,
 3.79371605997112,
 3.0999759849711053,
 4.111388378422595,
 3.2201779964180353,
 4.224135886807604,
 3.8822493881918065,
 4.439687765659773,
 4.062308422983699,
 3.601721216665815,
 4.241914240706814,
 3.360895221269792,
 3.8977922900686814,
 3.6491219670908768,
 3.201354717394544,
 3.4196622224313162,
 4.033068324215366,
 3.988134561115622,
 3.3147255653046654,
 3.868577152423024,
 3.2201114946054417,
 3.711123869207042,
 4.1613455911493675,
 3.5235115899479794,
 3.765007564949374,
 3.284826949924456,
 3.508260165207633,
 3.8096407091617297,
 3.775446153089218,
 4.0528176546576935,
 2.763019524418193,
 3.9780335406556944,
 3.566758355573477,
 3.6302344639080344,
 3.468518441712238,
 4.39884738335726,
 4.494875880670817,
 3.83632196064535,
 3.4904629564950898,
 3.523686303699026,
 3.7985613547663113,
 4.235529607955167,
 4.303332261142043,
 3.286999559035472,
 3.847806639512509,
 4.001858976687125,
 4.43566753373314,
 4.107756082191554,
 4.210514817895841,
 3.4253852958772213,
 4.13996391794985,
 3.5938880612216235,
 3.857662047493611,
 3.5848909069097705,
 3.287795379658768,
 3.059963916426956,
 3.505188686212187,
 3.6959964614017946,
 3.230314845832043,
 3.2695974014234213,
 3.613483426528778,
 3.609280272787353,
 3.377929831582842,
 3.0486649868138125,
 3.903991962865407,
 3.367257411100096,
 3.606941850112418,
 2.76634644633306,
 2.9139126856662667,
 1.6044255206720646,
 2.874476461944747,
 2.823964444422018,
 2.431842630873695,
 2.728343017177361,
 3.685875696830167,
 3.1307630593480966,
 4.540035615260676,
 3.398844127052805,
 3.49543103622792,
 3.5090661816959137,
 3.006968086304213,
 3.4227789069254735,
 3.1137125396150958,
 3.4764923976900386,
 3.1074891862500036,
 2.347961786227821,
 4.0209388282330565,
 3.3785181045142303,
 3.311002457137561,
 2.9796140009087915,
 3.6604555558115273,
 2.9202801674093335,
 3.4306824022799365,
 3.211988398053529,
 3.826730961814196,
 2.601047139167349,
 4.441349411407551,
 3.415404501606768,
 4.567441453053912,
 3.188722065208957,
 3.9284229201460894,
 2.7100970454860414,
 3.741292027966161,
 3.080165064670407,
 2.9568604343747174,
 3.6244309651944056,
 3.4595870823774204,
 3.373403057054493,
 3.85280914513449,
 2.7603937894669968,
 3.6735209559751283,
 2.970379138886077,
 3.8331473759427483,
 4.441687831961837,
 3.6017249345522186,
 4.46690911358866,
 4.0404112613079235,
 3.503039704353782,
 3.4161290910476754,
 4.657122807431307,
 4.2990741634798555,
 4.1855303827888015,
 3.8939893869433257,
 4.510325231447716,
 4.496817905029901,
 4.297378313073333,
 4.074514944577023,
 4.430366901109862,
 3.9975613862192305,
 3.720847429002991,
 3.5272464958898158,
 4.128770648207844,
 3.853101939774759,
 3.7176243530587225,
 3.1708736443927683,
 3.533023155195984,
 3.7411659648798405,
 3.777618176296227,
 3.3865804586598256,
 3.5810373208419786,
 3.5668076518964837,
 3.9967784176062278,
 3.382054899279881,
 2.857390959202352,
 3.855300244780244,
 3.832922091601087,
 3.8122443212307835,
 3.554607044689303,
 3.287860893889309,
 4.095781971504512,
 3.8634472813426197,
 3.7767599540623475,
 3.9588090096921547,
 3.69799635781261,
 3.388119424118287,
 3.8235593687570515,
 3.9280697261332125,
 3.7343969517392197,
 3.626525921992024,
 3.690703911590105,
 3.777951193842627,
 3.2424399942370936,
 4.032119601060497,
 3.885927996325939,
 3.135134301401266,
 3.6673161328951105,
 4.533627331854623,
 3.8813637025412393,
 4.1187438576693,
 4.32232711368436,
 4.059156742433749,
 3.3398149491641442,
 4.501615541035631,
 3.4254986986489704,
 3.863193202355503,
 3.35311709225357,
 3.449574860049579,
 4.221370014045981,
 3.2245462120808233,
 4.158318281550151,
 3.8306794595583824,
 3.8016247225943185,
 4.3201233216926775,
 3.3657662159396846,
 4.160147631295198,
 4.4424831081963,
 4.144114330029012,
 3.428225857362005,
 3.784337735841132,
 4.008542976190091,
 3.7033539345907656,
 3.8080309626551516,
 3.5902367607289727,
 3.6993055868737477,
 4.456795757263331,
 3.439423882651541,
 4.240783988016395,
 4.2877219855159865,
 4.195205149269307,
 3.7876937587060198,
 3.9871169769895998,
 3.6093608053842123,
 3.777857240219988,
 3.745483013014888,
 3.6810079233702546,
 3.9877321163426167,
 4.033104715210001,
 2.9254703010103347,
 4.0464324423902935,
 4.197154572872228,
 2.8459311882948164,
 4.449071898242221,
 3.418852747240988,
 3.431691806195417,
 2.7070355202649665,
 3.4236036007329504,
 2.8962860070627126,
 3.647861682628775,
 3.7732883033355025,
 3.3720220797760456,
 3.4090897538173803,
 2.6527820737527565,
 3.4672112435406537,
 2.6125661429853433,
 4.225130677757182,
 3.730156494417326,
 3.55050438859675,
 3.7763388473345056,
 2.6011363298104215,
 3.149049650826204,
 2.9575868619349204,
 3.0336016266275383,
 2.360936235036561,
 2.9599973240837536,
 3.7151684585266924,
 4.063610513706816,
 4.45444124580991,
 3.731882020695867,
 1.6891602452058365,
 2.9163073269821127,
 2.890084981646817,
 2.9116840835708873,
 3.4296889675909017,
 3.0102059464180417,
 3.99622258515783,
 2.2032706261327455,
 1.5102396235197317,
 2.8283309522791136,
 2.97022958313996,
 3.4164673291043903,
 3.749525931993791,
 3.499076060925654,
 2.413193724713493,
 3.0409795843273053,
 2.572101805914895,
 4.418133216582449,
 3.6782876877688793,
 2.5503233210870477,
 4.210079363539211,
 2.4889007619797834,
 4.600863112767642,
 3.41894123754879,
 3.1028196564968185,
 2.688282141432622,
 3.2606708561537863,
 2.7977343913611334,
 4.2274194406907935,
 4.1772146344661465,
 3.6049660256532916,
 3.027892389346094,
 3.905666901470237,
 4.153693897740699,
 4.313305469144116,
 3.938668253390047,
 3.7470000572905118,
 4.257453102508024,
 3.876223484304022,
 4.107281736654784,
 3.5818599004648264,
 3.8569389135899854,
 3.0114183957462757,
 3.713079182824612,
 3.9233083073251107,
 1.4779192947207551,
 2.3106317278864954,
 2.3381625390577314,
 3.288469375526217,
 2.0745329327945017,
 2.1699813182248695,
 3.9295859755876634,
 2.9202407466420164,
 2.2777841288481344,
 3.3404774527434453,
 3.705251301700044,
 2.690006161072672,
 3.3745687332328616,
 3.644730883302919,
 3.225379299846833,
 3.8880336554918298,
 3.941703141944648,
 2.522463658559926,
 1.3680978481761508,
 2.993857919020914,
 3.1466688065380186,
 2.524912106204884,
 2.7370360815241934,
 2.3198444291032163,
 4.031356568701174,
 3.9527962097802285,
 2.9963448753369697,
 3.7554121795932263,
 4.256507080164625,
 2.454969946155578,
 2.7810342448445726,
 3.479815900870209,
 3.319001908253968,
 2.960542967359333,
 4.515405701502209,
 3.7003532147367557,
 3.563302504810988,
 2.8614969069911327,
 3.366520527260435,
 3.4537122818660575,
 2.2720065183063167,
 2.9209524898125627,
 3.5610224197978666,
 4.217775552554877,
 3.0763090419523165,
 3.8543690191632476,
 3.7665024407369487,
 2.884053795989582,
 3.150993449639183,
 3.7298434291245663,
 3.1212881681443223,
 3.726637040349896,
 3.899008470139077,
 3.7282676059367694,
 4.112776392347091,
 2.8723009194144034,
 2.88037609772936,
 1.6609738894207706,
 3.3211091042216663,
 3.053323753797266,
 3.3614200602845354,
 3.21029766385824,
 3.568657297159365,
 2.331879235101865,
 3.5377888959259387,
 3.4857528848130475,
 3.686753176489116,
 2.6343515798688726,
 2.4212628571358383,
 3.1017094641525604,
 3.5361020133943906,
 3.6620590863401112,
 3.5787368773546526,
 3.1629846087664197,
 3.9928707489912325,
 3.2496777145393976,
 3.5884106840950425,
 3.5404730506928446,
 4.0089883949070675,
 3.485351672524612,
 2.880004511628068,
 2.8651125582057406,
 3.6853328341635727,
 3.8412591672540133,
 3.511769840649086,
 3.76474241247248,
 3.5481087576122046,
 3.6614440012583094,
 3.6633227177623944,
 3.7773904370727833,
 3.776207970289274,
 3.026937861779659,
 4.16042306300598,
 3.5806727399777967,
 3.4053817688706327,
 3.3938164946193794,
 3.71611059630054,
 4.337943560806555,
 3.986324718157874,
 3.6095460138244633,
 4.118036713483272,
 2.843008739107288,
 2.1445970497373854,
 3.3757779483475088,
 2.859362113687257,
 3.89568496879712,
 3.324524075517194,
 2.4345546249841274,
 4.303494852540816,
 2.7010079373942197,
 4.513378917438064,
 4.690293676919671,
 3.8342783944679275,
 4.750497033638409,
 4.810610309354401,
 4.5078983030963276,
 4.6417607071810645,
 4.067459893389061,
 3.9762349280801708,
 2.8355216405121877,
 3.8464856393937095,
 3.3510988429898863,
 2.8951396405353016,
 3.1601352095033888,
 4.138514993625474,
 3.255244969777633,
 4.140392581090423,
 4.520534604281617,
 4.573925417146198,
 4.557516037718675,
 3.3443563149746773,
 4.274002702917233,
 4.383724780910676,
 3.2881381528612534,
 4.669802110924069,
 2.6815517648296097,
 2.781546637663966,
 2.8219859954073074,
 3.468254291978427,
 3.8810973340181323,
 4.131258750456839,
 1.9244661237647147,
 4.021879657674325,
 2.8788039503781575,
 3.430386461467687,
 3.430303420375363,
 4.328511470821174,
 3.349296792454153,
 3.8963574436267066,
 2.4638051148295967,
 3.4178302134754697,
 3.2341564496204827,
 3.7290506594850683,
 1.3497676662781541,
 2.175865657293158,
 3.5933928419853065,
 3.7319941270479746,
 1.9021060348848065,
 3.129320304190684,
 4.2991551769634535,
 3.76929385745044,
 4.556889113698535,
 4.450699442461573,
 3.2841146787620543,
 3.5215038999117807,
 3.5501775062938323,
 3.8521726344178826,
 3.637672580593065,
 3.991758389257573,
 3.6353702564895967,
 3.760598912867494,
 1.6638359493627977,
 3.798718360770484,
 3.4444236681217517,
 3.5463151795409873,
 3.638150457007385,
 4.1934672161743345,
 2.9614144719391744,
 4.359679038851167,
 3.0743315001626033,
 2.9915781398181194,
 3.7277016897329753,
 3.7244218012944916,
 3.285749184595972,
 2.7779363283023564,
 4.066672950770371,
 2.3362770308367646,
 2.903794920719196,
 2.854343214669543,
 2.8851023150082185,
 1.582579436354373,
 3.399904573198411,
 3.8601662523699662,
 3.1677983225434687,
 2.931363280078358,
 4.359385180104488,
 4.133772835589557,
 4.020334984462065,
 4.332686527630575,
 4.301378048514893,
 4.06624722665924,
 4.278862708535603,
 4.269640228673767,
 4.064412905451314,
 4.624822280269709,
 4.40355688360487,
 3.8905607507930005,
 3.7369049381101043,
 2.8546464466313184,
 3.676324248926721,
 3.889428338747393,
 3.64108326367163,
 4.154343807733511,
 4.400403012082404,
 4.2821914317129615,
 4.135203725672116,
 4.57974651226844,
 4.2817715357503205,
 4.356029222510752,
 3.9910803630778444,
 4.268642004214975,
 3.678943408229455,
 3.3061116179442482,
 3.736984846695303,
 3.2941141275226764,
 3.9894112994969237,
 2.9380905107691766,
 3.0831608185022863,
 2.550645130708596,
 3.7511739898337755,
 2.779628716054031,
 2.462709958243903,
 3.1363055529685124,
 3.668681800012992,
 3.3568709829927093,
 2.7895026070816593,
 3.1813957122909464,
 2.547752522752048,
 3.024561120182613,
 2.84546359763061,
 2.5564656836057518,
 3.3537737887905648,
 3.1051355945379187,
 2.6328651662260643,
 1.9778348414203306,
 2.6859393459416587,
 2.98250020690535,
 3.310559757465391,
 3.3268405259541955,
 3.361279147290876,
 3.314476340585864,
 3.7620542977431337,
 3.511053244096434,
 3.0023065596734773,
 3.271770069887811,
 2.7785800628548443,
 3.8027070984823417,
 3.0109513710480873,
 3.948795840489577,
 2.4478152377705595,
 3.3772771903436345,
 3.1733541464710844,
 2.222910444111069,
 2.9509709608084407,
 3.574689688091909,
 2.7773449735523545,
 3.7637923513953817,
 3.0434469978636405,
 3.25850679327764,
 3.0376990697004684,
 3.0727956542556663,
 3.2126164249365496,
 3.0609461644102445,
 3.247474687031972,
 2.8168653634113037,
 4.74432417819095,
 5,
 4.373152816277789,
 3.0106369198343104,
 3.096515445148129,
 4.31921400729169,
 4.654570133407195,
 4.709420444018045,
 3.6594776052979823,
 3.619445059785407,
 3.6356039433858562,
 3.205246136272701,
 3.2010778507431645,
 4.259468893627453,
 3.756791326459552,
 2.2889133455632855,
 3.173311153675804,
 4.532662318269407,
 4.46680230036328,
 4.811982359410201,
 4.714228790586268,
 2.875823407500475,
 3.312300016357802,
 2.6618061557330255,
 3.7733165791578833,
 3.1706487927853524,
 2.029992909207596,
 2.0685423731619377,
 3.1351181993106056,
 1.8170411613312194,
 4.8433002231750315,
 4.012419740379355,
 4.588843632517795,
 2.463807635852963,
 3.4166105130470417,
 4.609118279815485,
 2.7907921325011253,
 3.8954765259081783,
 4.034419079895019,
 3.3388986820589,
 3.0291801480305325,
 2.5663755976945763,
 3.586710369927834,
 4.179973072263521,
 3.543994354287287,
 3.892645801378947,
 3.5892333226083153,
 4.23353251883565,
 4.521042914633705,
 4.323612817512958,
 3.4314487186144333,
 3.795985797136355,
 3.174363981298889,
 1.988686178722667,
 3.6374270395539177,
 3.458542746720481,
 3.0427138088710852,
 3.3300061877970855,
 4.067334679226727,
 3.1616585781463105,
 3.2926309952498656,
 3.2404448549059754,
 4.234234406411539,
 3.24618153526507,
 4.036183671697618,
 2.4021706043778357,
 3.7931782274964796,
 3.4834616882923406,
 3.938180307326433,
 3.7628344283952266,
 3.320958782278652,
 3.308881392394385,
 4.009203455696227,
 3.142874792575988,
 4.153936888072131,
 3.852442397738335,
 3.310258060506597,
 3.3977547699170385,
 3.5374037312053317,
 4.522690892079563,
 3.102897738756511,
 2.896754423673214,
 3.70631226323494,
 2.7293208218683094,
 4.58529535095058,
 4.4239868697244695,
 3.3387529953659683,
 3.279064062588489,
 3.8362588908234416,
 3.3678840580954175,
 3.6545553234643275,
 3.8038850070878745,
 2.9497064417008496,
 3.448258084249359,
 3.5713203105560627,
 3.597282057004602,
 3.5997879427769663,
 4.4640030262535255,
 4.190005096683137,
 4.929745199580507,
 4.566983243285608,
 2.33936420712975,
 3.986491807714831,
 4.195879007853345,
 3.9943234134939547,
 4.152227818991913,
 3.57228472404065,
 4.426041308919856,
 3.9388640239486503,
 3.5839927829398963,
 4.492811806437377,
 4.072278926816315,
 3.9122056819681905,
 4.264234189111853,
 4.096460633669147,
 4.238823646810383,
 4.872130809253444,
 4.865052914053847,
 4.211016738834665,
 4.598774333047079,
 4.536033016550897,
 4.638581714543905,
 3.8687545946914694,
 4.399790265428018,
 4.676552795159814,
 4.222197014987901,
 4.024549939139853,
 3.9373321494987334,
 4.431451386287835,
 4.274612250717496,
 3.7433214792753975,
 3.680230786362582,
 4.2217436391852345,
 4.827301986865727,
 3.6619870048221497,
 3.6568444812005008,
 4.102724994103193,
 4.750015320979839,
 4.447235578831808,
 3.3049881418034466,
 4.588085862056613,
 4.248328616339609,
 4.711681874316794,
 3.213010588059603,
 4.082262816188623,
 3.6172103154959974,
 4.342555648708825,
 4.382426700408756,
 3.550225809641701,
 4.43069490960416,
 3.97046548041971,
 4.000745587212202,
 4.616452065682944,
 3.8838066618639577,
 4.478393254176243,
 3.9135963041302957,
 4.811617098974541,
 4.383975537948908,
 3.858474129342711,
 4.277872876385265,
 4.624599833622365,
 4.436424521850576,
 4.222801854249295,
 4.826698899653808,
 4.7074420393454375,
 4.577667702943508,
 4.738887586913355,
 4.553640301240066,
 4.518752259107609,
 4.7008857986278905,
 4.371128076983391,
 4.2415181411788225,
 4.638189402209027,
 3.4810390132103954,
 4.143668917429595,
 4.346718994544269,
 3.7117852662185014,
 4.144364514370818,
 4.558375449892776,
 4.332917747977388,
 4.610205060328363,
 3.710099605621887,
 4.109368226144778,
 4.063585359986108,
 4.342641213154042,
 4.763620014245397,
 3.696989545607922,
 4.412177500595087,
 3.9008365480062492,
 3.9879946168170437,
 3.6753155879515345,
 3.3828255745734324,
 3.7140694978787634,
 3.9335889294504303,
 4.48801286420679,
 3.3244380058247915,
 3.218358564905651,
 3.2755753508266596,
 3.867739247906438,
 4.332169708331491,
 4.619097371856335,
 4.470610472635396,
 4.35564267718436,
 3.896714945464891,
 3.213611704793899,
 3.940240670441333,
 4.31353487627013,
 4.324513339568561,
 4.22160526753738,
 4.4856796123220555,
 4.432526756198479,
 4.190999442519309,
 3.6970510947278687,
 3.9918794063927887,
 3.5095782104481286,
 3.7920402616936424,
 3.49507777108627,
 4.645935047467092,
 3.8758097324935155,
 3.4880955160661498,
 3.8507627642724978,
 3.5974593692742975,
 3.7226792231467645,
 3.1317109858052032,
 3.845910217757211,
 3.5972769961362023,
 3.4828713975022305,
 3.5341822019143563,
 2.9471407138344636,
 3.3745846020378067,
 2.856186893816049,
 3.7818146290524184,
 3.5889836192402904,
 3.2955420131920197,
 2.5175437420575353,
 3.741741410249892,
 3.853658003620596,
 2.03719576365962,
 3.4112734946051795,
 3.553851352585746,
 4.04920126350527,
 4.615570480444479,
 4.228265554201488,
 3.607790850000576,
 3.960577446399903,
 3.860889126313923,
 4.019756540271166,
 4.15667158457769,
 3.8155244926032665,
 3.817642738315942,
 4.225160652321005,
 4.273219766956637,
 4.039382319065965,
 4.704536698675413,
 3.8579438849775642,
 4.481146908862162,
 4.424224832569071,
 3.9598646419521817,
 3.9133552139590337,
 4.1760624325777576,
 3.6942053893140505,
 3.296945771143153,
 3.6000816226507033,
 3.7345728292186653,
 3.7363117357761544,
 3.649240658868041,
 3.1116502570481974,
 2.8033500623975693,
 3.757622670470176,
 3.1380479879744057,
 3.7501252197844397,
 3.734459438728645,
 3.2278108607267875,
 4.142226425074843,
 3.732834902235459,
 2.8061657211629756,
 2.727966893146002,
 2.4921596564777673,
 2.7785985505038537,
 2.0311121285572535,
 2.4532213643665446,
 2.8668268464967657,
 2.325070393886137,
 2.5675898864498614,
 2.811482094470546,
 2.5709803821163857,
 2.1876608995383493,
 2.314074011185714,
 2.6918152254578662,
 2.9912439490178784,
 2.6557904627874978,
 3.009848753624506,
 2.7740552048468694,
 2.216492423150466,
 1.5979478576976238,
 2.76299846663161,
 2.720439632726702,
 2.5030031389159144,
 2.3936704270322644,
 3.0260011361449313,
 2.6496961832598505,
 2.4088949026635404,
 2.136327339449313,
 2.37123893370772,
 3.1053044553943767,
 1.6452307259558865,
 1.1816848026825946,

In [20]:
test_df.head()

   userId  movieId  rating
0       1     2011       0
1       1     4144       0
2       1     5767       0
3       1     6711       0
4       1     7318       0

In [21]:
del test_df['rating']

In [42]:
test_df['rating'] = est

In [23]:
test_df.head()

   userId  movieId    rating
0       1     2011  3.110155
1       1     4144  4.300707
2       1     5767  3.816113
3       1     6711  4.227607
4       1     7318  3.136272

In [24]:
test_df['Id'] = test_df['userId'].astype(str)  + '_'+ test_df['movieId'].astype(str)

In [25]:
test_df.head()

   userId  movieId    rating      Id
0       1     2011  3.110155  1_2011
1       1     4144  4.300707  1_4144
2       1     5767  3.816113  1_5767
3       1     6711  4.227607  1_6711
4       1     7318  3.136272  1_7318

In [26]:
del test_df['userId']
del test_df['movieId']
test_df['rating'] = est

In [27]:
test_df.head()

     rating      Id
0  3.110155  1_2011
1  4.300707  1_4144
2  3.816113  1_5767
3  4.227607  1_6711
4  3.136272  1_7318

In [33]:
df_reset= test_df.reset_index(drop=True)

In [34]:
df_reset

           rating           Id
0        3.110155       1_2011
1        4.300707       1_4144
2        3.816113       1_5767
3        4.227607       1_6711
4        3.136272       1_7318
...           ...          ...
5000014  3.426744  162541_4079
5000015  4.030576  162541_4467
5000016  2.749816  162541_4980
5000017  2.911957  162541_5689
5000018  4.664503  162541_7153

[5000019 rows x 2 columns]

In [35]:
test_df.reset_index(drop=True, inplace=True)

In [37]:
test_df

           rating           Id
0        3.110155       1_2011
1        4.300707       1_4144
2        3.816113       1_5767
3        4.227607       1_6711
4        3.136272       1_7318
...           ...          ...
5000014  3.426744  162541_4079
5000015  4.030576  162541_4467
5000016  2.749816  162541_4980
5000017  2.911957  162541_5689
5000018  4.664503  162541_7153

[5000019 rows x 2 columns]

In [43]:
test_df.head()

       Id    rating
0  1_2011  3.110155
1  1_4144  4.300707
2  1_5767  3.816113
3  1_6711  4.227607
4  1_7318  3.136272

In [46]:
test_df.to_csv('RMSE_0.81.csv', index = False)

In [47]:
rounded_df = test_df

In [48]:
def custom_round(x, base=5):
    return base * round(float(x)/base)

rounded_df['rating'] = rounded_df['rating'].apply(lambda x: custom_round(x, base=.5))

In [50]:
rounded_df.to_csv('RMSE_0.81_rounded.csv', index = False)

In [ ]:
# import comet_ml at the top of your file
from comet_ml import Experiment

# Create an experiment with your api key
experiment = Experiment(
    api_key="1AwUmDPCaKw7TZWLKwrSQ2n9z",
    project_name="ae4-unsupervised-notebook",
    workspace="jean-lucvanzyl",
)

In [29]:
movies_df.head(100)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
95,97,"Hate (Haine, La) (1995)",Crime|Drama
96,98,Shopping (1994),Action|Thriller
97,99,Heidi Fleiss: Hollywood Madam (1995),Documentary
98,100,City Hall (1996),Drama|Thriller
99,101,Bottle Rocket (1996),Adventure|Comedy|Crime|Romance

In [31]:
train_df.shape

(10000038, 3)

In [32]:
train_df.head()

   userId  movieId  rating
0    5163    57669     4.0
1  106343        5     4.5
2  146790     5459     5.0
3  106362    32296     2.0
4    9041      366     3.0

In [45]:
experiment.end()

COMET INFO: ---------------------------
COMET INFO: Comet.ml Experiment Summary
COMET INFO: ---------------------------
COMET INFO:   Data:
COMET INFO:     display_summary_level : 1
COMET INFO:     url                   : https://www.comet.ml/jean-lucvanzyl/ae4-unsupervised-notebook/079b1fbcb2b8411493a30ca0bf8bbfbc
COMET INFO:   Uploads:
COMET INFO:     environment details      : 1
COMET INFO:     filename                 : 1
COMET INFO:     git metadata             : 1
COMET INFO:     git-patch (uncompressed) : 1 (11 MB)
COMET INFO:     installed packages       : 1
COMET INFO:     notebook                 : 1
COMET INFO:     source_code              : 1
COMET INFO: ---------------------------
COMET INFO: Uploading metrics, params, and assets to Comet before program termination (may take several seconds)
COMET INFO: The Python SDK has 3600 seconds to finish before aborting...
COMET INFO: Waiting for completion of the file uploads (may take several seconds)
COMET INFO: The Python SDK has 10800 seconds to finish before aborting...
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)
COMET INFO: Still uploading 1 file(s)