In [1]:
from surprise import SVD
from surprise import Dataset
from surprise.model_selection import cross_validate
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Install packages here
# Packages for data processing
import numpy as np
import pandas as pd
import datetime
from sklearn import preprocessing
from sklearn.datasets import make_blobs
from sklearn.preprocessing import StandardScaler
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import re
from scipy.sparse import csr_matrix
import scipy as sp


# Packages for visualization
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Packages for modeling
from surprise import Reader
from surprise import Dataset
from surprise import KNNWithMeans
from surprise import KNNBasic
from surprise.model_selection import cross_validate
from surprise.model_selection import GridSearchCV
from surprise import SVD
from surprise import SVDpp
from surprise import NMF
from surprise import SlopeOne
from surprise import CoClustering
import heapq

# Packages for model evaluation
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from time import time

# Package to suppress warnings
import warnings
warnings.filterwarnings("ignore")

# Packages for saving models
import pickle

In [29]:
#Movies dataframe
movies_df = pd.read_csv('movies.csv')

#Genome_scores dataframe
gs_df = pd.read_csv('genome_scores.csv')

#Genome_tags dataframe
gt_df = pd.read_csv('genome_tags.csv')

#imbd dataframe
imdb_df = pd.read_csv('imdb_data.csv')

#links dataframe
links_df = pd.read_csv('links.csv')

#tags dataframe
tags_df = pd.read_csv('tags.csv')

#train dataframe
train_df = pd.read_csv('train.csv')

#test dataframe 
test_df = pd.read_csv('test.csv')

#sample submission
sample_df = pd.read_csv('sample_submission.csv')

In [5]:
from surprise import SVD
from surprise import Dataset
from surprise.model_selection import cross_validate


df = pd.DataFrame(train_df)
del df['timestamp']


# A reader is still needed but only the rating_scale param is requiered.
reader = Reader(rating_scale=(0, 5))

# The columns must correspond to user id, item id and ratings (in that order).
data = Dataset.load_from_df(df[['userId', 'movieId', 'rating']], reader)# The columns must correspond to user id, item id and ratings (in that order).

In [6]:
from surprise import SVD
from surprise import Dataset
from surprise import accuracy
from surprise.model_selection import train_test_split

# sample random trainset and testset
# test set is made of 25% of the ratings.
trainset, testset = train_test_split(data, test_size=.25)

# We'll use the famous SVD algorithm.
algo = SVD()

# Train the algorithm on the trainset, and predict ratings for the testset
algo.fit(trainset)
predictions = algo.test(testset)

# Then compute RMSE
accuracy.rmse(predictions)

RMSE: 0.8392

0.8392446274041495

In [8]:
test_df.loc[:, 'rating'] = 0

In [9]:
test_df.head()

   userId  movieId  rating
0       1     2011       0
1       1     4144       0
2       1     5767       0
3       1     6711       0
4       1     7318       0

In [12]:
test_processed = Dataset.load_from_df(test_df[['userId','movieId','rating']], reader)

In [13]:
NA, test = train_test_split(test_processed, test_size=1.0)

In [14]:
predictions = algo.test(test)

In [15]:
est = [i.est for i in predictions]

In [16]:
est

[3.5256421778539706,
 2.229088922072678,
 3.492757440849677,
 3.830252400172596,
 2.7996346153370135,
 1.6942452776196715,
 1.7858395505109113,
 3.997025346386326,
 3.7732942115157395,
 3.9457095867409278,
 3.619464375490074,
 3.8640644254705343,
 2.738562622272304,
 3.5558229781675554,
 4.457412670830658,
 3.641452665887396,
 2.887626902514716,
 3.452023997537264,
 3.6027716615162197,
 1.6384347053792807,
 3.0572194886231725,
 4.12931502652261,
 3.954896825160968,
 4.2747386328632935,
 3.5952862611001803,
 4.093307601862509,
 4.059309797528735,
 2.580180880387954,
 4.017985705719557,
 4.4854980706968695,
 3.9793614588870425,
 3.6137875219055795,
 3.7160015246262943,
 3.5036475203236774,
 3.3161168134189762,
 3.9413102577842976,
 3.193981156664122,
 2.732683559446391,
 3.7223110103821213,
 3.3539013109716556,
 2.67712526677861,
 4.754954208675047,
 3.693071139809111,
 2.937546089502769,
 4.407043274045036,
 3.990971972718855,
 3.7984673753178906,
 3.562801794106942,
 3.8362434684606534,
 3.333949880196882,
 4.379547172851272,
 3.7994203872220127,
 3.577626204577734,
 3.7857115277611166,
 4.151659387286515,
 4.115872926157908,
 4.274140904746178,
 3.618065184329134,
 4.0272754653797564,
 4.155286718031693,
 3.6433462490446473,
 3.661125103395665,
 2.477318513941253,
 3.219835233144733,
 3.7661875675254013,
 4.243661491637273,
 3.9249110744094544,
 3.972868249532534,
 4.475619083923143,
 3.2848383016631546,
 4.0437006340714134,
 3.1943539727852706,
 3.241674921105799,
 2.720051580632204,
 3.715349508308425,
 3.4385805486215606,
 3.8176379218756034,
 3.3190047271890917,
 4.320650092740405,
 4.090992354229377,
 4.7627568323562945,
 3.635273562294532,
 3.9743770594493704,
 2.341116210629403,
 2.8855846610488,
 3.726561921036268,
 3.758905186785092,
 3.720242625029913,
 3.7264231403886847,
 3.3583799048668888,
 3.3180635443734046,
 4.485871595226594,
 3.9479162370180734,
 4.391068465606822,
 4.843603470444099,
 3.5823454592437787,
 3.621474731705678,
 3.4960879713589255,
 3.557608773977302,
 3.992269994225336,
 4.0030245089333505,
 4.654489166667206,
 3.456842761877575,
 3.6139313305790552,
 3.2433061865248902,
 1.7254753140864285,
 3.2332316164895856,
 3.275204151398746,
 3.2236945424960344,
 3.1659762879615116,
 3.346363192868176,
 3.9207065049642105,
 2.656877087936283,
 3.493939872325635,
 3.631977686900276,
 3.3529294292558323,
 4.072745060092896,
 4.148196053439975,
 3.463607947815507,
 3.4409473526911896,
 3.978141992299679,
 3.9312973311827086,
 4.3171145245905205,
 3.7592841275786752,
 3.9260383178788687,
 3.6229106727647093,
 3.8080187629314426,
 3.234099164483224,
 3.5394215191082363,
 3.655518193827475,
 2.286751470281951,
 3.566067639898823,
 3.549169737870162,
 4.368615413344569,
 2.875358841751504,
 4.245927607793955,
 3.899098170491552,
 4.32640635459004,
 4.0529025452906495,
 4.21648952751377,
 3.5348855090431432,
 3.043473880463831,
 3.9902890269282483,
 4.82754234613904,
 3.749990171748049,
 3.5989897709982968,
 3.571564793729521,
 1.7039815607631827,
 3.911443713956867,
 3.3895147041919516,
 4.494854228405714,
 3.157630237995126,
 3.547020256616642,
 3.248295076669473,
 4.21218430678017,
 4.499256750933081,
 3.294721756449725,
 3.685686127790763,
 4.508117593206942,
 4.477363918590416,
 4.433521966488725,
 3.158642932948511,
 3.848570890532196,
 3.9723811437432355,
 3.936604507319192,
 4.1547377563819285,
 3.947676687241557,
 3.083416001379727,
 3.3975473540861945,
 4.536745435995082,
 3.811432267695712,
 3.9851412237841695,
 2.926320615372928,
 2.5641317621682713,
 4.381205311586095,
 4.119713949200845,
 3.866740526807192,
 4.448710329243602,
 3.467854671874274,
 1.8030355006042356,
 4.297039914276555,
 4.2167999490504595,
 3.9861093732673885,
 3.0124362505262186,
 4.479995600348444,
 3.8972431700737857,
 3.846311672844949,
 4.316814280343525,
 4.003227273125936,
 3.3663272731662013,
 3.6799827007463692,
 3.6703238288534505,
 4.002733983139355,
 4.065155505287849,
 3.9369440645791594,
 4.0428066960070685,
 4.161478781218517,
 2.305630119399304,
 3.747260280766963,
 2.428998638731898,
 4.47375829228511,
 2.9375311563588,
 3.3989371897033007,
 2.567288722236641,
 2.7676174592208165,
 4.092450178611364,
 3.6077688315444085,
 3.454210322834727,
 4.0659495464531386,
 4.066790488559137,
 3.4047629268569337,
 4.602503799217771,
 4.6365733030625655,
 3.021197214717609,
 4.2574415284012295,
 3.525548564975087,
 3.351759286477365,
 2.5865501430688775,
 3.692125037216836,
 4.354868391227624,
 3.627783308091913,
 3.7259554752685946,
 4.2427049517263296,
 4.656316337482967,
 4.035745478943708,
 4.1737939186047095,
 3.8507696561644673,
 3.9571364699281317,
 2.109436466791799,
 3.009983147981432,
 4.306944905849459,
 4.071635821611707,
 4.312327818802039,
 3.9517098025875104,
 2.651976387464571,
 3.391075971130175,
 3.8847742752777505,
 2.2676641170041365,
 2.877879398396379,
 3.084995779848656,
 3.215685598574935,
 3.4835399760603982,
 3.077981379501266,
 3.956669066486948,
 4.848245498074594,
 2.9911831500282315,
 3.701705147106342,
 3.702762812207788,
 4.094226044942542,
 3.298225329578068,
 2.2907782916145907,
 3.287243197927301,
 3.103543179824393,
 3.991024913274907,
 2.051215907175366,
 4.150631429560089,
 2.890068755598248,
 4.324816104985328,
 3.8136852239940557,
 2.481654975721077,
 3.8806414038004826,
 3.7101364927575142,
 2.770940343445337,
 3.071742780852924,
 3.7824745773966915,
 2.693556321383517,
 3.117888726579175,
 4.51265720767727,
 0.9911467640496837,
 2.964068509771333,
 4.462534529790886,
 3.67819541277272,
 3.589487186317463,
 3.951164481215616,
 3.515219313114877,
 3.835969270283375,
 3.3050557936255887,
 3.242577672397306,
 2.495015083560459,
 4.179128702991782,
 2.0958956267571454,
 3.903757455121947,
 3.7365001673237406,
 4.06911609634333,
 3.2083699622114175,
 3.8478448123325992,
 3.1766851904890427,
 4.270320608558379,
 4.361686151114864,
 3.83265628478991,
 3.8234049143935684,
 2.039908221603461,
 3.6078718677863404,
 3.7523938933623495,
 3.1350032212043804,
 4.4520187936860625,
 2.67387058759513,
 3.7377501807413647,
 3.7701145229402204,
 4.444766579128209,
 3.816281032103435,
 4.342067756905626,
 2.9209885273101097,
 3.6254534648561396,
 3.320163206786203,
 3.9971978104354347,
 3.594103464477294,
 2.352690492874318,
 4.421756115313533,
 4.06398922812179,
 3.8081172650542574,
 3.479937337796838,
 3.828734160685886,
 3.374856754360015,
 2.6528421988752955,
 2.094445522298648,
 3.6273296330831655,
 2.7980768613518547,
 3.1711009290457843,
 3.129308214682762,
 3.210508627929057,
 3.0397778424752215,
 3.8588623854076984,
 1.6999556213257847,
 2.9018363804227056,
 2.556691723417554,
 3.870967161108728,
 3.9140994987641546,
 3.617895124347203,
 4.224678615158838,
 4.722345049850687,
 3.8193156709134253,
 4.185789944160257,
 3.150657065371829,
 3.605410724670546,
 3.712741205329455,
 3.191715656544897,
 3.668684448407083,
 3.0062301017183213,
 2.5116364117270846,
 3.833095457748332,
 2.365369821027056,
 4.342908586712863,
 4.038393980063807,
 4.03773019425214,
 2.737269348265041,
 3.2935241533495008,
 3.7814070888501696,
 2.044388742517726,
 3.4121872687274584,
 3.570943038433308,
 4.040090179239605,
 3.2793715887418533,
 3.1420319376468964,
 4.15837615478891,
 3.6732866963079505,
 1.0982423849855962,
 3.899533600038207,
 3.044924227671609,
 3.2846586076026285,
 3.406077061328557,
 3.1563324972772118,
 2.9141003367434317,
 4.260460587449176,
 2.6004122309439652,
 3.8758035585031476,
 2.635483508690777,
 4.291725527350563,
 3.093172467314544,
 4.791690227316479,
 3.7581978713762174,
 4.16043187279979,
 2.799260193733156,
 0.16289661398175848,
 2.5750095931751646,
 3.6977653096167256,
 4.850822628223885,
 3.3167724270438907,
 3.1970312849039337,
 3.6840885995746775,
 1.8571828805959103,
 3.312537002278753,
 4.427386279644455,
 3.594178877024041,
 3.8287846939132812,
 4.221503253939365,
 3.9350555753450074,
 2.938594119336685,
 3.0648690964224916,
 3.176465783643968,
 3.3858453339993964,
 4.260266023308164,
 2.651784020960236,
 4.512428596104133,
 2.5795066761883696,
 3.3092957311369013,
 2.755212503932291,
 3.28565171703497,
 2.5533727624248987,
 2.9944766533735794,
 2.663272827310827,
 1.6448341091232515,
 3.6763018737506328,
 3.293182418206259,
 3.351695701279639,
 3.6261349402601666,
 3.605649002264783,
 3.003469763186698,
 3.9984433821641336,
 4.0766845997992025,
 3.6453560200838173,
 4.214699706087465,
 4.133495453367685,
 2.2012406691928605,
 4.532838547635021,
 3.63670015810483,
 3.981132363820144,
 4.293946161215616,
 2.8572058610346387,
 2.394511658091086,
 3.576952444139991,
 3.6017733415997677,
 3.18253421524938,
 3.8568956693611014,
 4.112599028264742,
 4.380779947688913,
 4.009701510459069,
 3.3091980222209383,
 4.788093504216049,
 3.3449233407416163,
 4.243956408362479,
 4.0984821238173135,
 2.3952089704212964,
 3.9014797544978435,
 4.455231559616886,
 3.765239577344677,
 2.8659637343411912,
 4.19092481539822,
 3.851215120049723,
 2.1046882498414266,
 2.4414735991943948,
 4.157770344087909,
 3.327591559436341,
 3.62646748567997,
 2.7960797200761194,
 2.9909279206216572,
 4.45445665673641,
 0.7591881009456918,
 2.9894849356962174,
 3.153024129621671,
 4.408041820181343,
 3.2997052503545716,
 4.522138906436052,
 3.078690284627678,
 3.272592402957059,
 4.074683816648747,
 2.894993273055586,
 4.509622893731914,
 3.8966479998320986,
 3.415081865628857,
 4.105801763955685,
 3.4348541475924432,
 3.3600085910217343,
 3.005842390723291,
 2.506299273152472,
 3.3109558234190124,
 3.364365696709939,
 3.9344891213260595,
 3.413155795954057,
 3.2053115185298924,
 3.50339568410706,
 3.3872988958373846,
 4.6346653788848995,
 3.976825076048261,
 3.950002794936715,
 3.5907074280309232,
 3.572818941927924,
 4.410211975360159,
 4.053387368427877,
 4.214218926273811,
 3.145400269627251,
 3.6160799635949914,
 4.523177666721169,
 3.4785157130110766,
 3.673817809662817,
 4.175760539672306,
 4.6129239172943866,
 4.136843843809572,
 3.012970441038309,
 2.5175553156200343,
 3.675275798612594,
 4.234223208691147,
 3.9868148221352695,
 4.145143198493939,
 3.618602982256532,
 3.5602598966792636,
 3.9105413203320087,
 2.1770005260334813,
 2.989066721763716,
 4.917515646043222,
 4.740324951046954,
 2.699928936631597,
 2.9112051487939317,
 4.046838632771969,
 3.1374766801843568,
 1.5974963576434584,
 4.569565551537937,
 4.299051748699849,
 2.920569735046765,
 3.919975480474561,
 3.8798907386213743,
 3.5331084051549286,
 2.6718230590967003,
 3.946192341430679,
 3.4146470991004225,
 4.575273364638434,
 4.531368066848799,
 2.9172170833057005,
 2.672668944197887,
 3.3148339995105554,
 2.669620898973792,
 3.3199809710475945,
 4.476447813956079,
 3.908088913054614,
 3.863294197842685,
 2.8347152479594917,
 4.274253511668073,
 3.0782486576628205,
 3.9696306720789805,
 3.6833735599749526,
 3.600911063886533,
 3.870560516542324,
 1.4498366603345354,
 1.7174521357681054,
 3.9136965716414256,
 4.043675018239887,
 3.511221490344661,
 3.832956126154621,
 2.7765803818864767,
 3.8549511549337465,
 3.766790761740451,
 3.3508808266190147,
 3.2041546702107437,
 4.629692563973996,
 3.511993513685354,
 2.2448077471308627,
 3.9769214716195402,
 3.813553368567771,
 3.8150516803143883,
 3.39572636918265,
 3.4079735766595887,
 4.260958148073603,
 3.5406762832064667,
 3.714943125998953,
 3.9454619088994463,
 3.1952598471165823,
 3.4771368781600827,
 1.6830572056349518,
 1.8840738017826566,
 3.3172221374943947,
 4.12833001420182,
 3.559051042122792,
 4.252338270583461,
 3.846880752210923,
 3.1178851815867223,
 3.681771760651807,
 3.2599261265452326,
 3.558047178657462,
 4.627187897810351,
 3.128025716121377,
 3.3905585310361146,
 4.091594604940799,
 3.722797521932488,
 3.235429730771826,
 4.55402573959523,
 4.096864326085908,
 3.057338071503974,
 3.294260051011775,
 3.583467632839063,
 3.6838738683277037,
 3.432290275535237,
 3.8457418651135176,
 2.247950807142353,
 2.146407990419247,
 4.505897929650046,
 2.916620674859937,
 3.3365849241004457,
 4.141841670675351,
 3.507129586559644,
 3.5711250798224,
 3.3201268389618552,
 2.6457121652302535,
 3.9857242167721885,
 3.1860160364225307,
 2.90148204902593,
 4.029229803420701,
 2.593659127263573,
 2.3385598413856186,
 3.5625999142485387,
 3.18621325072625,
 4.595926977161054,
 3.021891741791531,
 3.3602823819638847,
 4.093314431983296,
 3.5118644157888155,
 4.0405703286124295,
 3.3152567251264764,
 3.054301501147737,
 3.8198511429876674,
 3.1101103377751955,
 3.5204384807542786,
 4.462781546157529,
 2.497418097292127,
 2.6965295824826603,
 3.345502221258992,
 4.4209624559339735,
 3.838594590678901,
 4.368293717701463,
 4.851489759943559,
 2.3272018984604417,
 4.082029512396102,
 2.8433870201119094,
 3.0664777079814667,
 3.962125350775343,
 3.9351270755489667,
 3.691174937696873,
 4.4230598289335274,
 2.013727085436666,
 4.000666410521552,
 4.097632508939659,
 3.582434591326174,
 4.181953570870312,
 4.570027283189276,
 2.722877964384836,
 3.083151980862604,
 3.9739776366409925,
 3.5991143741324922,
 3.1316353723552623,
 4.775450321275436,
 4.04256100940257,
 2.91887193935793,
 2.756530203801043,
 4.176394103922528,
 4.148851134329574,
 3.3426878285475823,
 2.1762193466193485,
 4.085671472207033,
 4.043435964677675,
 3.5450974798020383,
 2.8754544957215598,
 3.6889168887440147,
 2.8638053484401036,
 3.0750461732098833,
 5,
 3.0524779642724376,
 3.9418281054794826,
 2.6927149145183473,
 3.9976316524150657,
 3.285896289118481,
 3.3640383355096626,
 3.1857439192687376,
 2.8581840067132163,
 2.796501796228518,
 4.16674158605527,
 4.075499509268033,
 3.255741723791718,
 3.4403283696952953,
 4.230026301210851,
 3.516645514849165,
 4.311318525547421,
 3.2014172693857352,
 4.236618353312015,
 4.793647476883472,
 4.056908023059711,
 3.182475592205442,
 4.336027454093922,
 2.4695451343355854,
 4.499455376335958,
 3.8161845139177726,
 4.083276194558623,
 4.0903877318036175,
 3.766542846221814,
 3.2937931306402244,
 3.9074514242118075,
 3.293557961648374,
 3.679258434275902,
 3.914188239105221,
 4.066595243697482,
 3.671816801852736,
 3.060525539320601,
 3.211385615258492,
 3.4477981712797745,
 3.1377591850505757,
 4.451729010783962,
 3.698037372365496,
 4.579331789520201,
 3.8244831707855953,
 3.6322704491176303,
 2.3855607682150275,
 3.8555087228029246,
 1.3572734342379573,
 3.5153395202991504,
 3.9131811329427477,
 3.9503183491069267,
 2.8348284333930702,
 3.640390902874006,
 3.213964822786051,
 4.2663532704925275,
 4.108162846527229,
 3.5111884144596255,
 3.630920110457535,
 3.160067251806607,
 3.7545781686766704,
 3.7731871475656247,
 4.129262611031799,
 4.159681183355436,
 3.510112744533408,
 3.7166974470599237,
 3.1631731796476257,
 3.7292797558903508,
 4.558554627536597,
 2.7608041414138227,
 3.5567106617019744,
 3.965958433245993,
 4.472673718534336,
 3.176310367137529,
 4.339836554696783,
 4.341066514051673,
 3.674349953419411,
 2.069352160735396,
 4.435113218991562,
 4.270905859827383,
 3.82247941276567,
 2.4023011964480645,
 3.7054097952569633,
 3.754647676794273,
 1.2693035761274318,
 2.3769799626243198,
 2.568064634110589,
 3.7745561091875532,
 3.457193181886963,
 0.794677913791072,
 4.151014179812825,
 3.553729467828408,
 3.339815372003994,
 3.1602867339507124,
 3.3599057003876522,
 2.84394878390892,
 3.8721954784554486,
 3.091758028116712,
 4.5124193970435735,
 3.9428173383951117,
 4.38292477423391,
 3.068278268427533,
 2.9205435885401005,
 4.317915926054995,
 4.009143194584896,
 4.228465095422967,
 3.770570173727274,
 3.0311632322811803,
 4.057818468171176,
 3.063103427223154,
 3.9106295372589877,
 3.1184379917593525,
 3.465019903324908,
 3.705984716333737,
 4.434770144647011,
 3.7254497786081786,
 1.9589879538443542,
 2.9584859708107234,
 3.8203837932233373,
 4.159032524036578,
 3.1549927128621125,
 3.9898172595069146,
 3.906035742084045,
 3.987390708763815,
 3.542161178675741,
 3.7859431169276787,
 3.063433375605986,
 3.2631892221502916,
 3.486861741292342,
 4.397186048333106,
 3.9825613627759626,
 3.3115871680453375,
 3.740352252319674,
 3.583367360177867,
 1.6145402554467103,
 3.212852529807427,
 4.075767329208742,
 4.106742803203252,
 1.9833049121954898,
 3.076765353983343,
 4.344732509869851,
 3.7378268147861102,
 3.5306165843117476,
 4.18875941245592,
 4.7054231858665725,
 4.601175558046352,
 3.6056094117708213,
 3.08556979880576,
 3.0026169841322465,
 2.9312483335386728,
 4.417063507072007,
 4.104907598361594,
 3.092627844614433,
 4.147042551717005,
 2.2583269417934164,
 3.6607763838068785,
 4.000729260204468,
 3.6989713888312132,
 2.5069894612569246,
 3.818652778742215,
 3.1499312683326557,
 3.567628120195108,
 2.017713678392851,
 3.345283168396852,
 3.2347918620825786,
 4.435178881552986,
 3.6292744503619536,
 3.3635327764677,
 4.185910909324693,
 3.103313479665345,
 3.536223789984432,
 3.02996086121098,
 3.765551458736498,
 2.8598682984662207,
 3.2306481348404086,
 4.488687252442874,
 4.206129931862375,
 4.110089149077225,
 1.9288610529976085,
 3.605069272710479,
 2.90129590260612,
 3.1419128826635836,
 2.6091463178984666,
 3.231162982191017,
 3.3033881527370057,
 2.5868052016560674,
 2.682973521423674,
 4.021836418891073,
 2.574563859308391,
 3.6072407115413494,
 4.045496491401712,
 3.4761264842120734,
 3.5947827702401995,
 3.97721015537606,
 2.882248280800726,
 3.8135976848340802,
 3.464105534661281,
 4.145914592569611,
 3.57568383376851,
 2.672531916068684,
 3.85953603193904,
 3.2848423008161958,
 4.696069095842431,
 3.159823967077794,
 4.383796121649815,
 3.786265622623065,
 4.536904259036438,
 3.2652222312046497,
 4.6050562679892,
 1.1742208271965069,
 2.4854915693235657,
 3.7562765324064444,
 2.29210559609961,
 3.3275221865566396,
 3.277584909003983,
 2.3082838287050915,
 3.9726407648044284,
 3.788200558513595,
 3.1994430822917543,
 3.5157681308270408,
 3.851559720738141,
 2.684000670321328,
 4.194816540341377,
 3.1792130862337946,
 3.540010690385814,
 4.150092959511812,
 1.6378478807444794,
 3.0227123564684617,
 3.7548916298834443,
 4.229476920781507,
 3.9771707926954667,
 4.442213481484147,
 3.5868498346924755,
 4.412404406191612,
 3.155073421889607,
 3.720983567078938,
 4.357668279212877,
 4.177155156223096,
 3.337926731608377,
 3.4523653320437817,
 4.126125834256194,
 3.6208478414601344,
 3.618778819603039,
 3.2549979796755766,
 3.7068677999407016,
 3.8751696447848865,
 3.650093957339615,
 3.512129363634564,
 4.016582082038122,
 2.912076030577773,
 1.2578431519271884,
 3.3389871869683936,
 3.7460627988671837,
 3.9109344672676016,
 3.0679890678713386,
 4.359165819507458,
 2.9221674671341153,
 4.293221493644737,
 3.1586532296750964,
 2.7453732684415106,
 3.798705102296815,
 2.860567331111293,
 4.344798746175796,
 3.970574008533695,
 3.8048062226609445,
 3.775970142545283,
 3.477570542911814,
 3.4430189940400604,
 2.6050101821491722,
 3.215408023484486,
 3.0950216170444236,
 4.056739402099881,
 4.436935414905788,
 2.229280419028065,
 3.170971726790377,
 3.7007546035671774,
 3.2475017050426285,
 2.9816207510401176,
 2.7754883262057564,
 3.793282650058405,
 3.768438152520468,
 3.5116615534372766,
 2.668066265164162,
 4.0082256525972975,
 3.6005907871979206,
 4.613873598448335,
 3.583135351728009,
 3.160541903461511,
 4.158868447090424,
 4.261183577372882,
 3.5146218482820215,
 3.860372526523642,
 3.722786835424992,
 2.9728968328243197,
 3.77497088857614,
 4.212021997317462,
 4.283230156550367,
 2.793467528588939,
 4.397061444452468,
 2.882196327924168,
 4.559878671304507,
 3.7812711128730245,
 3.9510826678223916,
 4.026899469334049,
 3.4019772914393775,
 3.518094937848613,
 3.439233581270666,
 3.8479065954025073,
 2.216393836276723,
 3.072204489050674,
 3.3889033577799315,
 3.4795459147266277,
 4.020164034004615,
 3.834002529464793,
 3.365520044165234,
 3.661588546932107,
 2.3609429211779527,
 3.929869421730068,
 3.1193155170403384,
 3.603041894124109,
 2.4632647993332935,
 2.6763634092884665,
 2.701286378683386,
 4.015403266855108,
 4.794591953224351,
 2.0072919945289556,
 4.122325716921023,
 4.100792067888356,
 4.2148364316069795,
 2.0235649337260564,

In [18]:
test_df.head()

   userId  movieId  rating
0       1     2011       0
1       1     4144       0
2       1     5767       0
3       1     6711       0
4       1     7318       0

In [20]:
del test_df['rating']

In [22]:
test_df['rating'] = est

In [24]:
test_df.head()

   userId  movieId    rating
0       1     2011  3.525642
1       1     4144  2.229089
2       1     5767  3.492757
3       1     6711  3.830252
4       1     7318  2.799635

In [26]:
test_df.to_csv('AE4_Submission.csv')

In [30]:
test_df.head()

   userId  movieId
0       1     2011
1       1     4144
2       1     5767
3       1     6711
4       1     7318

In [31]:
test_df['Id'] = test_df['userId'].astype(str)  + '_'+ test_df['movieId'].astype(str)

In [32]:
test_df.head()

   userId  movieId      Id
0       1     2011  1_2011
1       1     4144  1_4144
2       1     5767  1_5767
3       1     6711  1_6711
4       1     7318  1_7318

In [33]:
del test_df['userId']
del test_df['movieId']
test_df['rating'] = est

In [34]:
test_df.head()

       Id    rating
0  1_2011  3.525642
1  1_4144  2.229089
2  1_5767  3.492757
3  1_6711  3.830252
4  1_7318  2.799635

In [36]:
test_df.to_csv('AE4_Baseline_Submission.csv')

In [37]:
pd.test_df.reset_index()

AttributeError: module 'pandas' has no attribute 'test_df'

In [38]:
df_reset= test_df.reset_index(drop=True)

In [39]:
df_reset

                  Id    rating
0             1_2011  3.525642
1             1_4144  2.229089
2             1_5767  3.492757
3             1_6711  3.830252
4             1_7318  2.799635
...              ...       ...
5000014  162541_4079  3.629336
5000015  162541_4467  4.807617
5000016  162541_4980  3.354904
5000017  162541_5689  2.880145
5000018  162541_7153  3.501516

[5000019 rows x 2 columns]

In [40]:
test_df.reset_index(drop=True, inplace=True)

In [41]:
test_df

                  Id    rating
0             1_2011  3.525642
1             1_4144  2.229089
2             1_5767  3.492757
3             1_6711  3.830252
4             1_7318  2.799635
...              ...       ...
5000014  162541_4079  3.629336
5000015  162541_4467  4.807617
5000016  162541_4980  3.354904
5000017  162541_5689  2.880145
5000018  162541_7153  3.501516

[5000019 rows x 2 columns]

In [45]:
test_df.to_csv('Baseline_submission_AE4.csv', index=False)